@font-face {
	font-family: 'Pixel Operator';
	src: url('/PixelOperator8.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[data-theme='theme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-primary-800);
	--base-font-color-dark: oklch(1 0 0 / 1);
	--base-font-family: 'Pixel Operator', monospace;
	--base-font-size: 18px;
	--base-line-height: 28px;
	--base-font-weight: bolder;
	--base-font-style: normal;
	--base-letter-spacing: 0.025em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 4px;
	--body-background-color: oklch(1 0 0 / 1);
	--body-background-color-dark: var(--color-primary-900);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(90.02% 0.01 17.52deg);
	--color-primary-200: oklch(79.81% 0.03 17.75deg);
	--color-primary-300: oklch(69.12% 0.04 18.22deg);
	--color-primary-400: oklch(58.42% 0.06 18.97deg);
	--color-primary-500: oklch(47.54% 0.08 20.32deg);
	--color-primary-600: oklch(43.14% 0.06 10.84deg);
	--color-primary-700: oklch(38.48% 0.05 354.69deg);
	--color-primary-800: oklch(33.95% 0.04 324.59deg);
	--color-primary-900: oklch(29.36% 0.04 293.11deg);
	--color-primary-950: oklch(25.32% 0.06 270.58deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(97.12% 0.03 78.91deg);
	--color-secondary-200: oklch(94.15% 0.05 76.12deg);
	--color-secondary-300: oklch(91.43% 0.07 76.65deg);
	--color-secondary-400: oklch(88.63% 0.1 75.17deg);
	--color-secondary-500: oklch(86.12% 0.12 74.81deg);
	--color-secondary-600: oklch(84.05% 0.08 87.74deg);
	--color-secondary-700: oklch(82.41% 0.06 113.05deg);
	--color-secondary-800: oklch(81.2% 0.05 154.77deg);
	--color-secondary-900: oklch(80.49% 0.07 188.79deg);
	--color-secondary-950: oklch(80.28% 0.09 206.74deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(94.43% 0.03 17.69deg);
	--color-tertiary-200: oklch(88.9% 0.05 18.23deg);
	--color-tertiary-300: oklch(83.63% 0.08 18.98deg);
	--color-tertiary-400: oklch(78.51% 0.11 19.93deg);
	--color-tertiary-500: oklch(73.86% 0.14 21.18deg);
	--color-tertiary-600: oklch(71.86% 0.09 19.65deg);
	--color-tertiary-700: oklch(70.64% 0.04 16.38deg);
	--color-tertiary-800: oklch(70.41% 0.01 196.81deg);
	--color-tertiary-900: oklch(70.81% 0.05 197.71deg);
	--color-tertiary-950: oklch(71.92% 0.08 196.4deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-500);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.05% 0.09 178.66deg);
	--color-success-100: oklch(91.62% 0.1 178.6deg);
	--color-success-200: oklch(89.44% 0.11 177.16deg);
	--color-success-300: oklch(87.13% 0.12 176.9deg);
	--color-success-400: oklch(85.09% 0.13 175.45deg);
	--color-success-500: oklch(82.91% 0.13 174.95deg);
	--color-success-600: oklch(72.85% 0.12 175.7deg);
	--color-success-700: oklch(62.4% 0.1 175.99deg);
	--color-success-800: oklch(51.26% 0.08 178.28deg);
	--color-success-900: oklch(39.72% 0.06 179.74deg);
	--color-success-950: oklch(27.27% 0.04 185.29deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(26.51% 0.06 298.12deg);
	--color-error-100: oklch(38.81% 0.03 250.4deg);
	--color-error-200: oklch(50.86% 0.04 191.74deg);
	--color-error-300: oklch(62.49% 0.07 172.49deg);
	--color-error-400: oklch(73.62% 0.1 165.18deg);
	--color-error-500: oklch(84.4% 0.13 161.44deg);
	--color-error-600: oklch(79.29% 0.09 171.01deg);
	--color-error-700: oklch(74.48% 0.05 196.16deg);
	--color-error-800: oklch(70.25% 0.04 267.21deg);
	--color-error-900: oklch(66.4% 0.08 305.41deg);
	--color-error-950: oklch(63.22% 0.13 316.69deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-light);
	--color-error-contrast-300: var(--color-error-contrast-light);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(90.67% 0 none);
	--color-surface-200: oklch(81.41% 0 none);
	--color-surface-300: oklch(71.55% 0 none);
	--color-surface-400: oklch(61.67% 0 none);
	--color-surface-500: oklch(51.03% 0 none);
	--color-surface-600: oklch(44.95% 0 none);
	--color-surface-700: oklch(38.67% 0 none);
	--color-surface-800: oklch(32.11% 0 none);
	--color-surface-900: oklch(25.2% 0 none);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
